@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: 'Comic Sans MS', 'Comic Neue', cursive, sans-serif;
}
